In [24]:
# Load the data
# Clean the data
# Feature Enginnering
# Preproccessing
# Modelling
# RandomSearching
# GridSearchings
# Final Project Repat

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import (
    StandardScaler,
    RobustScaler,
    MinMaxScaler,
    MaxAbsScaler,
    OneHotEncoder,
    LabelEncoder,
    Normalizer,
)
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression,LogisticRegressionCV,RidgeClassifier,RidgeClassifierCV
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier,AdaBoostClassifier,VotingClassifier,BaggingClassifier,RandomForestClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier,XGBRFClassifier
from catboost import CatBoostClassifier,CatBoost
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
np.random.seed(42)

In [26]:
data = pd.read_csv('./data.csv')

In [27]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [28]:
data[' income'].value_counts()

 <=50K    24720
 >50K      7841
Name:  income, dtype: int64

In [29]:
new_income_labels = {
    ' <=50K':0,
    ' >50K':1
}
new_income_list = []
for info in data[' income']:
    new_income_list.append(new_income_labels[info])

In [30]:
data[' income'] = new_income_list

In [31]:
ohe_cols = []
for col_dtype,col_name in zip(data.dtypes,data.columns):
    if col_dtype == 'object':
        ohe_cols.append(col_name)

In [32]:
from sklearn.compose import make_column_transformer

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X = data.drop(' income',axis=1)
y = data[' income']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.125)

In [35]:
ohe_cols

[' workclass',
 ' education',
 ' marital-status',
 ' occupation',
 ' relationship',
 ' race',
 ' sex',
 ' native-country']

In [36]:
mct = make_column_transformer(
    (OneHotEncoder(handle_unknown='ignore'),ohe_cols),
    remainder='passthrough'
)
mct.fit(X_train)
X_train = mct.transform(X_train).toarray()
X_test = mct.transform(X_test).toarray()